{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% trans_default_domain 'FOSUserBundle' %}
{% extends "CrowdriseMembreBundle::layout.html.twig" %}
{% block container %}
    
  
{% block fos_user_content %}
    <strong><center><p>{{ 'Registration confirmed'|trans({'%username%': user.username}) }}</p></center></strong>
   {# {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %} #}
   <div>
        
                            
                         {#   <a class="account" href="{{path('fos_user_security_login')}}"><strong>Logout</strong></a>

                        <span class="active uls-trigger"></span>
                        
                        

		</div>#}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <strong><center>  {{ 'Logged in as %username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </center></strong>
        <div class="header">    
       {# <div class="header-right">
            <span class="active uls-trigger"></span>
                <a class="account" href="{{path('fos_user_security_logout')}}"><strong >Logout</strong>
                    
                  {#  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>#}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
   </div>

      {#  {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}#}
  <div class="main-banner banner text-center">
	  <div class="container">    
			<h1>Keep up your idea   <span class="segment-heading"> , Keep up </span>  your work.</h1>
			<p>Crowdrise is the best site for ...</p>
			<a href="{{path('fos_user_profile_show')}}">Get started</a>
	  </div>
	</div>
{% endblock fos_user_content %}



{% endblock  %}
