{% trans_default_domain 'FOSUserBundle' %}
<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-up">
						<h1>Create an account</h1>
						<p class="creating"> <strong>Having hands on experience in creating innovative ideas,projects
                                                      you want to sponsor you projects, you have come to the wright place.</strong></p>
						<h2>Personal Information</h2>
						
             
                 <div class="sign-u">	
                     
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


{#{{dump(form.nom.vars)}}

{% set class=''%}

{% if not form.nom.vars.valid%}
    {%set class='has error'%}
{%endif%}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="control-label" for="{{form.nom.vars.id}}">Nom*: </label>
        <input type="text"  class="form-control" id="{{form.nom.vars.id}}" name="{{form.nom.vars.full_name}}" value="{{form.nom.vars.value}}">
        {{form_errors(form.nom)}}
        {% do form.nom.setRendered %}
        {{dump(form.nom)}}
    </div>#}
<div class="form-group">
        {{form_label(form.nomUtilisateur, 'Forname*:')}}
        {{form_widget(form.nomUtilisateur,{'attr': {'class': 'form-control'}})}}
        {{form_errors(form.nomUtilisateur)}}               
    </div>
   <div class="form-group">
        {{form_label(form.prenomUtilisateur, 'Name*:')}}
        {{form_widget(form.prenomUtilisateur,{'attr': {'class': 'form-control'}})}}
        {{form_errors(form.prenomUtilisateur)}}               
    </div>
    <div class="form-group">{{ form_row(form.email,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.username,{'attr': {'class': 'form-control'}}) }}</div>
   
    <div class="form-group">{{ form_row(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}</div>
   {#radio inline#}
    
    <div >
        <input type="submit" value="{{ 'valider'|trans }}" />
    </div>
     {{ form_rest(form) }}

{{ form_end(form) }}
 </div>
                                   </div>  
 
</div>
</div>