{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "CrowdriseMembreBundle::layout.html.twig" %}
{% block container %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock  %}
