{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "CrowdriseMembreBundle:Default:register.html.twig" %}
{% block container %}
{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock  %}