{% trans_default_domain 'FOSUserBundle' %}

    
    
<center>
                         <div class="form-group">{{ form_row(form.username,{'attr': {'class': 'radio inline'}}) }}</div>
    <div class="form-group">{{ form_row(form.email,{'attr': {'class': 'radio inline'}}) }}</div>
    <div class="form-group">{{ form_row(form.nomUtilisateur,{'attr': {'class': 'radio inline'}}) }}</div>
    <div class="form-group">{{ form_row(form.competences,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.experience,{'attr': {'class': 'form-control'}}) }}</div>
                                
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        
    <div class="form-group">{{ form_row(form.username,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.nomUtilisateur,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.competences,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.experience,{'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.current_password,{'attr': {'class': 'form-control'}}) }}</div></div></center>
            {#<a class="btn btn-cta-primary pull-right" href="{{ path('profile.edit.submit')|trans }}" <i class="fa fa-paper-plane"></i> Edit Submit</a>#}
<div class="new_people">
            <a input type="submit" href="{{path('fos_user_profile_show')}}">Update changes</a>
    <input type="submit" href="{{ path('fos_user_profile_show')}}" />
</div>  
{{ form_end(form) }}
