{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "CrowdriseProfileBundle:Default:profile.html.twig" %}
{% block container %}
{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
