{% extends "CrowdriseMembreBundle:Default:register.html.twig" %}
{% block container %}
<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-up">
						<h1>Update your profile</h1>
						
						<h2>Personal Information</h2>
    <div class="sign-u">	
    {{form_start(Form)}}
        <div class="form-group">{{ form_row(Form.username,{'attr': {'class': 'form-control'}}) }}</div>
                <div class="form-group">{{ form_row(Form.email,{'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(Form.nomUtilisateur,{'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(Form.competences,{'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(Form.experience,{'attr': {'class': 'form-control'}}) }}</div>

        <center>    <input type="submit" value="{{ 'validate'|trans }}" /></center>

    
</div>
{{form_rest(Form)}}
        {{form_errors(Form)}}
        
        
{{form_end(Form)}}

</div>
                                        </div>
                                </div>
</div>

{% endblock  %}