
{% extends "CrowdriseMembreBundle::layout1.html.twig" %}


{% block container %}
{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
		<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Log in</h1>
						</div>
                                            <div class="signin">
							
<form action="{{ path("fos_user_security_check") }}" method="post">
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="log-input">
	<div class="log-input-left">   
    <input type="text" id="username" name="_username"  value="{{ last_username }}" required="required" />
    </div>
          
<div class="clearfix"> </div>
</div>
    
    <div class="log-input">
	<div class="log-input-left">
    
    
    <input type="password" id="password" name="_password"  required="required" />
        </div>
       
    <div class="clearfix"> </div>
<span class="checkbox1">
    <div class="clearfix"> </div>
    
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Login Remember_me'|trans }}</label>
</span>
</div>
<div class="clearfix"> </div>
    <a href="{{path('crowdrise_membre_homepage')}}"> 
<input type="submit"   id="_submit" name="_submit" value="{{ 'Submit'|trans }}" /></a>
</form>
                                        </div>
<div class="new_people">
							<h2>For New People</h2>
							<p>Having hands on experience in creating innovative designs,I do offer design 
								solutions which harness.</p>
							<a href="{{path('fos_user_registration_register')}}">register Now</a>
						</div>
</div>
                                </div>
                </div>
                                                        </div>
{% endblock fos_user_content %}
{% endblock %}