<table border="2">
    <tr> 
        <th> Id </th> 
       
        <th> Show picture </th> 
    </tr> 
    {% for image in images %} 
        <tr>
            <th>{{image.id}}</th>
            
            <th> <a href="{{path("crowdrise_user_aff_article", {'id':image.id })}}"> Show picture </a> </th> 
        </tr>
    {% endfor %}
</table>