{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nav_li_dash %}
<li><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
{% endblock %}

{% block nav_li_allideas %}
<li class="active"><a href="{{path('crowdrise_administration_all_ideas')}}"><span>All Ideas</span> <i class="icon-lamp2"></i></a> </li>
{% endblock %}


{% block pagecontent %}

    <!-- Page content -->
  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>All Ideas <small>Management</small></h3>
      </div>

      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>

    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Requests list</li>
      </ul>
      <div class="visible-xs breadcrumb-toggle"><a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a></div>
     

    </div>
    <!-- /breadcrumbs line -->
    <!-- Page tabs -->
    <div class="tabbable page-tabs">
   
      <div class="tab-content">
        <!-- First tab -->
        <div class="tab-pane active fade in" id="all-tasks">


          <!-- Tasks table -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title"><i class="icon-paragraph-justify2"></i> Requests</h6>
              <span class="pull-right label label-danger">

              3

              </span> </div>
            <div class="datatable-tasks">


              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Idea Description</th>
                    <th>Category</th>
                    <th class="task-priority">$.Needed</th>
                    <th class="task-date-added">Date Added</th>
                    <th class="task-progress">Submitter</th>
                    <th class="task-deadline">Details</th>
                  </tr>
                </thead>
                <tbody>

                    
                    {% for i in idees %}
                  <tr>


                    <td class="task-desc"><a href="task_detailed.html">{{i.intituleIdee}}</a> <span>{{i.descriptionIdee}}</span></td>


                    <td>{{i.categorieIdee}}</td>

                    {% if i.sommeRecolteIdee<200 %}
                    <td class="text-center"><span class="label label-info">{{i.sommeRecolteIdee}} $</span></td>
                    {% elseif i.sommeRecolteIdee>200 and i.sommeRecolteIdee<800 %}
                    <td class="text-center"><span class="label label-success">{{i.sommeRecolteIdee}} $</span></td>
                    {% else%}
                    <td class="text-center"><span class="label label-danger">{{i.sommeRecolteIdee}} $</span></td>
                    {% endif %}

                    <td>{{i.dateDepotIdee}}</td>


                    <td>{{i.idUtilisateur.username}}</td>


                    <td> 
               <a href="{{path('crowdrise_administration_details_idea',{'id':i.idIdee,'intitule':i.intituleIdee,'description':i.descriptionIdee, 'categorie':i.categorieIdee,'date':i.dateDepotIdee,'somme':i.sommeRecolteIdee,'note':i.noteIdee})}}"><i class="icon-info2"></i> Informations</a>
                    </td>
                    
                 
                  
                  
                  </tr>
                  
                  {% endfor %}

                 
                </tbody>
              </table>
            </div>
          </div>
          <!-- /tasks table -->
        </div>
        <!-- /first tab -->

      </div>
    </div>
    <!-- /page tabs -->
    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
{% endblock %}
