{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nav_li_dash %}
<li><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
{% endblock %}

{% block nav_li_allideas %}
<li class="active"><a href="{{path('crowdrise_administration_all_ideas')}}"><span>All Ideas</span> <i class="icon-lamp2"></i></a> </li>
{% endblock %}


{% block pagecontent %}

    <!-- Page content -->
  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>Details Idea <small>Managment</small></h3>
      </div>

      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>

    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">All Ideas</a></li>
        <li class="active">Details</li>
      </ul>
      <div class="visible-xs breadcrumb-toggle"><a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a></div>
     

    </div>
    <!-- /breadcrumbs line -->
    <!-- Page tabs -->
    <div class="tabbable page-tabs">
   
      <div class="tab-content">
        <!-- First tab -->

         <div class="callout callout-danger fade in">
      <h5>{{categorie}}</h5>           
    </div>


              <!-- Task -->
              <div class="block task task-high">
                <div class="row with-padding">
                  <div class="col-sm-9">
                    <div class="task-description"><a href="#">{{intitule}}</a><span>{{description}}</span></div>
                  </div>
                  <div class="col-sm-3">
                    <div class="task-info text-right"><span>{{date}}</span><span><span class="label label-danger">{{somme}} $ </span></span>
                    
                           <a href="#"><i class="icon-thumbs-up2"></i> <span>Rating</span> <strong class="label label-success">{{note}}</strong></a></div>
                  </div>
                </div>
              
              </div>


            
                
        <!-- /fifth tab -->

    <!-- Add comment form -->
        <div class="block">
          <h6><i class="icon-bubble-plus"></i> Sponsoring</h6>
          <div class="well">

            <form method="POST">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Your sum</label>
                          <div class="input-group"><span class="input-group-addon">$</span>
                <input type="number" name="somme" class="form-control">
                <span class="input-group-addon">.00</span></div>
                  </div>
               
                </div>
              </div>
            
              <div class="form-actions text-right">
                <input type="reset" value="Cancel" class="btn btn-danger">
                <input type="submit" value="Donate" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
        <!-- /add comment form -->

        
        <!-- /first tab -->

      </div>
    </div>
    <!-- /page tabs -->
    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
{% endblock %}
