{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nav_li_dash %}
<li><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
{% endblock %}

{% block nav_li_ideasreq %}
<li class="active"><a href="{{path('crowdrise_administration_ideas_requests')}}"><span>Ideas Requests</span> <i class="icon-stack"></i></a> </li>
{% endblock %}


{% block pagecontent %}

    <!-- Page content -->
  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>Ideas Requests <small>Management</small></h3>
      </div>

      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>

    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Requests list</li>
      </ul>
      <div class="visible-xs breadcrumb-toggle"><a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a></div>
     

    </div>
    <!-- /breadcrumbs line -->
    <!-- Page tabs -->
    <div class="tabbable page-tabs">
   
      <div class="tab-content">
        <!-- First tab -->
        <div class="tab-pane active fade in" id="all-tasks">


          <!-- Tasks table -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title"><i class="icon-paragraph-justify2"></i> Requests</h6>
              <span class="pull-right label label-danger">

              3

              </span> </div>
            <div class="datatable-tasks">


              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Idea Description</th>
                    <th>Category</th>
                    <th class="task-priority">$.Needed</th>
                    <th class="task-date-added">Date Added</th>
                    <th class="task-progress">Submitter</th>
                    <th class="task-deadline">Idea Video</th>
                    <th class="task-tools text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>

                    
                    {% for i in idees %}
                  <tr>


                    <td class="task-desc"><a href="task_detailed.html">{{i.intituleIdee}}</a> <span>{{i.descriptionIdee}}</span></td>


                    <td>{{i.categorieIdee}}</td>

                    {% if i.sommeRecolteIdee<200 %}
                    <td class="text-center"><span class="label label-info">{{i.sommeRecolteIdee}} $</span></td>
                    {% elseif i.sommeRecolteIdee>200 and i.sommeRecolteIdee<800 %}
                    <td class="text-center"><span class="label label-success">{{i.sommeRecolteIdee}} $</span></td>
                    {% else%}
                    <td class="text-center"><span class="label label-danger">{{i.sommeRecolteIdee}} $</span></td>
                    {% endif %}

                    <td>{{i.dateDepotIdee}}</td>


                    <td>{{i.idUtilisateur.username}}</td>


                    <td> <a href="{{i.urlVideo}}">Watch Idea Video</a></td>
                    
                  
                    <td class="text-center"><div class="btn-group">
                        <button type="button" class="btn btn-icon btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                          <li><a href="{{path('crowdrise_administration_accept_idea',{'id':i.idIdee,'email':i.idUtilisateur.email})}}"><i class="icon-checkmark3"></i> Accept</a></li>
                          <li><a href="{{path('crowdrise_administration_refuse_idea',{'id':i.idIdee})}}"><i class="icon-share2"></i> Refuse</a></li>
                          <li><a href="{{path('crowdrise_administration_ideas_requests')}}"><i class="icon-quill2"></i> Waiting</a></li>
           
                        </ul>
                      </div></td>
                  </tr>
                  
                  {% endfor %}

                 
                </tbody>
              </table>
            </div>
          </div>
          <!-- /tasks table -->
        </div>
        <!-- /first tab -->

      </div>
    </div>
    <!-- /page tabs -->
    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
{% endblock %}
