{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nbusers %}<h2>{{nbUsers}}</h2>{% endblock %}

{% block nbideas %}<h2>{{nbIdeas}}</h2>{% endblock %}

{% block nbprojects %}<h2>{{nbProjects}}</h2>{% endblock %}

{% block nbclaims %}<h2>{{nbClaims}}</h2>{% endblock %}

{% block stat1 %}     

<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

<script type="text/javascript">
{{ chart(chart) }}
</script>

<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>     

{% endblock %}

{% block stat2 %}
<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

<script type="text/javascript">
{{ chart(chart2) }}
</script>

<div id="piechart2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>   

{% endblock %}


{% block stat3 %}
<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

<script type="text/javascript">
{{ chart(chartline) }}
</script>

<div id="linechart" style="min-width: 600px; height: 400px; margin: 0 auto"></div>     


{% endblock %}                  




{% block recentidasactivity %}
                    
{% for i in idees %}

<li class="media"><a class="pull-left" href="#"><img class="media-object" src="{{asset('assets_admin/images/demo/users/avatar.png')}}" alt=""></a>
<div class="media-body">
    
<div class="clearfix"><a href="#" class="media-heading">{{i.idUtilisateur.username}}</a><span class="media-notice">{{i.dateDepotIdee}}</span></div>

Added a new idea called <b>{{i.intituleIdee}}</b> in category : <a>{{i.categorieIdee}}</a>.
</div>
</li>

{% endfor %}

{% endblock %}

 

{% block recentclaimsactivity %}

{% for r in reclamations %}

<li class="media"><a class="pull-left" href="#"><img class="media-object" src="{{asset('assets_admin/images/demo/users/avatar.png')}}" alt=""></a>
<div class="media-body">
    
<div class="clearfix"><a href="#" class="media-heading">{{r.idUtilisateur.username}}</a><span class="media-notice">{{r.dateReclamation}}</span></div>

Sent a new Claim.

</div>
</li>

{% endfor %}

{% endblock %}

