{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nav_li_dash %}
<li><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
{% endblock %}
       
{% block nav_li_users %}
<li class="active"><a href="{{path('crowdrise_administration_users')}}"><span>Users</span> <i class="icon-users2"></i></a></li>
{% endblock %}


{% block pagecontent %}
    
    
  <!-- Page content -->


  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>Users <small>Users managment</small></h3>
      </div>
      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>
    </div>
    <!-- /page header -->

    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Users</li>
      </ul>

   
    </div>
    <!-- /breadcrumbs line -->



    <!-- Page tabs -->
    <div class="tabbable page-tabs">

      <div class="tab-content">

        <!-- Third tab -->
        <div class="active" id="list-view">
          <!-- Table view -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title"><i class="icon-users2"></i> Users List</h5>
              <span class="label label-danger pull-right">+23</span> </div>
            <div class="datatable-media">
              <table class="table table-bordered table-striped">


                <thead>

                  <tr>
                    <th class="image-column">Image</th>
                    <th>First & Last Name</th>
                    <th>Username</th>
                    <th>Profile info</th>
                    <th class="team-links">Actions</th>
                  </tr>

                </thead>


                <tbody>
                    
                    
                 
                {% for u in utilisateurs %}

                  <tr>                    
                        
                    <td class="text-center"><a href="images/demo/users/face1.png" class="lightbox" title="Eugene A. Kopyov"><img src="{{asset('assets_admin/images/demo/users/avatar.png')}}" alt="" class="img-media"></a></td>


                    <td class="text-semibold">{{u.prenomUtilisateur}} {{u.nomUtilisateur}}</td>

                    <td class="muted">{{u.username}}</td>


                    <td class="file-info">
                       <span><strong>Email :</strong> {{u.email}}</span>
                       <span><strong>Chips :</strong> <a href="#"><b>{{u.note}}</b></a></span>
                       <span><strong>No. of projects :</strong> <a href="#"><b>{{u.nbProjets}}</b></a></span>
                       <span><strong>No. of ideas :</strong> <a href="#"><b>{{u.nbIdees}}</b></a></span>

                    </td>

                    <td class="text-center"><div class="btn-group">
                        <button type="button" class="btn btn-icon btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                          <li><a href="{{path('crowdrise_administration_delete_user',{'id':u.idUtilisateur})}}"><i class="icon-remove4"></i> Delete</a></li>
                          <li><a href="{{path('crowdrise_administration_block_user',{'id':u.idUtilisateur})}}"><i class="icon-blocked"></i> Block</a></li>
                          <li><a href="{{path('crowdrise_administration_report_user',{'email':u.email})}}"><i class="icon-stop2"></i> Report</a></li>

           
                        </ul>
                      </div></td>


                  </tr>
                    {% endfor %}



                </tbody>


              </table>
            </div>
          </div>
          <!-- /table view -->
        </div>
        <!-- /third tab -->
      </div>
    </div>
    <!-- page tabs -->


    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
    
{% endblock %}
