{% extends "CrowdriseProfileBundle:Default:profile.html.twig" %}
{% block container %}
<html>
    <head>
        <title>Formulaire Mail</title>

    </head>
    <center>   
    <form action="{{path('crowdrise_mail_sendMail')}}" method="POST">
        <h1> Contact administrator for reclamation </h1>
        <br/>
        
        <h2> Subject</h2>
        <input type="text" name="Subject">
        <br/>
        

        
        <h2> Text : </h2>
        <textarea name="message"></textarea>
        
        <input type="submit" value="Send"/>
    </form>
       </center>
        
</html>
{% endblock %}
