<html>
    <head>
        <title>Formulaire Mail</title>

    </head>
    
    <form action="{{path('testmail_sendMail')}}" method="POST">
        <h1> Jet set contact </h1>
        <br/>
        
        <h2> Subject</h2>
        <input type="text" name="Subject">
        <br/>
        
        <h2> Email</h2>
        <input type="text" name="email">
        <br/>
        
        <h2> Text : </h2>
        <textarea name="message"></textarea>
        
        <input type="submit" value="Send"/>
    </form>
        
        
</html>