{% extends "CrowdriseUserBundle:Profile:show_content.html.twig" %}

{% block projet %} 

    <h1> Projects List</h1>
    {% for p in projet %}
    {{p.intituleProjet}}           
    {% endfor %}
    
    {% endblock %}